In [4]:
import pandas as pd
import numpy as np

In [5]:
df_tahunan = pd.read_excel("Data/Laporan-hasil-Rumah-Kompos-gabungan.xlsx")
df_tahunan

,id,Tahun,Bulan,Sampah Daun,Sampah Sayuran,Sampah Anorganik,Daun Terolah,Sampah Fermentasi,Kompos Jadi
0,0,2020,January,1403,433,36,1043,1723,150
1,1,2020,February,3130,605,28,2275,1552,175
2,2,2020,March,1662,295,23,1157,1476,150
3,3,2020,April,1480,844,28,1111,1284,1010
4,4,2020,May,857,1596,78,641,3257,950
5,5,2020,June,1039,1234,70,790,2776,675
6,6,2020,July,1890,610,48,1359,2390,510
7,7,2020,August,1343,866,37,975,1564,625
8,8,2020,September,1979,887,18,1419,884,540
9,9,2020,October,734,1481,172,492,2697,500
10,10,2020,November,1773,2247,228,1230,4055,735
11,11,2020,December,2915,1000,130,2097,1950,635
12,12,2021,January,3440,804,190,2633,1805,760
13,13,2021,February,2525,1057,202,1037,1685,600
14,14,2021,March,2800,1769,277,1816,3231,700
15,15,2021,April,2285,1534,380,1435,3110,725
16,16,2021,May,2425,1593,0,1132,2947,700
17,17,2021,June,590,1296,0,664,2114,0
18,18,2021,July,1460,779,0,665,1595,445
19,19,2021,August,2028,858,89,1091,1438,325
20,20,2021,September,1590,1604,147,696,2210,455
21,21,2021,October,2450,1561,134,969,2369,300
22,22,2021,November,1590,1211,176,598,2347,740
23,23,2021,December,940,1346,0,500,2118,300
24,24,2022,January,3055,804,190,2466,1805,760
25,25,2022,February,2525,1069,160,1637,1685,600
26,26,2022,March,2800,1769,277,1816,3231,700
27,27,2022,April,1600,1773,260,839,3174,725
28,28,2022,May,2425,1593,0,1132,2947,700
29,29,2022,June,590,1296,0,664,2114,0
30,30,2022,July,1460,779,0,665,1595,445
31,31,2022,August,2028,858,89,1091,1438,325
32,32,2022,September,1590,1604,147,696,2210,455
33,33,2022,October,2450,1561,134,969,2369,300
34,34,2022,November,1773,2247,228,1230,4055,735
35,35,2022,December,2915,911,130,2097,1940,635
36,36,2023,January,1210,1064,0,495,1340,635
37,37,2023,February,260,1164,0,120,1347,0
38,38,2023,March,140,1041,0,60,677,1215
39,39,2023,April,490,856,0,151,1006,280
40,40,2023,May,610,1582,0,261,1625,420
41,41,2023,June,1240,1537,0,627,2189,0
42,42,2023,July,1150,1356,0,677,1390,356
43,43,2023,August,942,1356,0,430,1385,625
44,44,2023,September,1230,1514,0,527,1827,975
45,45,2023,October,1300,1374,0,559,1682,0
46,46,2023,November,1250,1245,0,638,1215,835
47,47,2023,December,2200,1208,0,1200,547,0
48,48,2024,January,2330,1269,930,846,1891,350
49,49,2024,February,3120,2381,752,1522,3214,1090
50,50,2000,January,1,2,3,4,5,6

In [3]:
# Konversi kolom Tahun ke tipe data datetime
df_tahunan['Tahun'] = pd.to_datetime(df_tahunan['Tahun'], format='%Y')

# Tampilkan hanya tahun saja
df_tahunan['Tahun'] = df_tahunan['Tahun'].dt.year

df_tahunan

,Tahun,Bulan,Sampah Daun,Sampah Sayuran,Sampah Anorganik,Daun Terolah,Sampah Fermentasi,Kompos Jadi
0,2020,January,1403,433,36,1043,1723,150
1,2020,February,3130,605,28,2275,1552,175
2,2020,March,1662,295,23,1157,1476,150
3,2020,April,1480,844,28,1111,1284,1010
4,2020,May,857,1596,78,641,3257,950
5,2020,June,1039,1234,70,790,2776,675
6,2020,July,1890,610,48,1359,2390,510
7,2020,August,1343,866,37,975,1564,625
8,2020,September,1979,887,18,1419,884,540
9,2020,October,734,1481,172,492,2697,500
10,2020,November,1773,2247,228,1230,4055,735
11,2020,December,2915,1000,130,2097,1950,635
12,2021,January,3440,804,190,2633,1805,760
13,2021,February,2525,1057,202,1037,1685,600
14,2021,March,2800,1769,277,1816,3231,700
15,2021,April,2285,1534,380,1435,3110,725
16,2021,May,2425,1593,0,1132,2947,700
17,2021,June,590,1296,0,664,2114,0
18,2021,July,1460,779,0,665,1595,445
19,2021,August,2028,858,89,1091,1438,325
20,2021,September,1590,1604,147,696,2210,455
21,2021,October,2450,1561,134,969,2369,300
22,2021,November,1590,1211,176,598,2347,740
23,2021,December,940,1346,0,500,2118,300
24,2022,January,3055,804,190,2466,1805,760
25,2022,February,2525,1069,160,1637,1685,600
26,2022,March,2800,1769,277,1816,3231,700
27,2022,April,1600,1773,260,839,3174,725
28,2022,May,2425,1593,0,1132,2947,700
29,2022,June,590,1296,0,664,2114,0
30,2022,July,1460,779,0,665,1595,445
31,2022,August,2028,858,89,1091,1438,325
32,2022,September,1590,1604,147,696,2210,455
33,2022,October,2450,1561,134,969,2369,300
34,2022,November,1773,2247,228,1230,4055,735
35,2022,December,2915,911,130,2097,1940,635
36,2023,January,1210,1064,0,495,1340,635
37,2023,February,260,1164,0,120,1347,0
38,2023,March,140,1041,0,60,677,1215
39,2023,April,490,856,0,151,1006,280
40,2023,May,610,1582,0,261,1625,420
41,2023,June,1240,1537,0,627,2189,0
42,2023,July,1150,1356,0,677,1390,356
43,2023,August,942,1356,0,430,1385,625
44,2023,September,1230,1514,0,527,1827,975
45,2023,October,1300,1374,0,559,1682,0
46,2023,November,1250,1245,0,638,1215,835
47,2023,December,2200,1208,0,1200,547,0
48,2024,January,2330,1269,930,846,1891,350
49,2024,February,3120,2381,752,1522,3214,1090

In [4]:
# Dataset
df_harian = pd.read_csv("Data DLH Kendal CSV/Laporan hasil Rumah Kompos gabungan harian.csv")

# Ubah kolom 'Tanggal' menjadi datetime
df_harian['Tanggal'] = pd.to_datetime(df_harian['Tanggal'])

# Hapus kolom 'Bulan' dan 'Tahun'
df_harian.drop(columns=['Bulan', 'Tahun'], inplace=True)

# Ubah nama kolom 'Kompos' menjadi 'Lokasi'
df_harian.rename(columns={'Kompos': 'Lokasi'}, inplace=True)

# Ganti nilai 'kompos pasar kendal' menjadi 'Pasar Kendal' dan 'kompos jatirejo' menjadi 'Jatirejo'
df_harian['Lokasi'] = df_harian['Lokasi'].replace({'Kompos Pasar Kendal': 'Pasar Kendal', 'Kompos Jatirejo': 'Jatirejo'})

In [5]:
df_harian

,Tanggal,Sampah Daun,Sampah Sayuran,Sampah Anorganik,Daun Terolah,Sampah Fermentasi,Kompos Jadi,Lokasi
0,2023-01-02 09:02:00,300,150,25,102,0,0,Pasar Kendal
1,2023-01-03 09:11:00,250,85,25,108,418,0,Pasar Kendal
2,2023-01-02 14:38:00,0,125,0,0,473,0,Jatirejo
3,2023-01-03 14:47:00,0,83,0,0,0,0,Jatirejo
4,2023-01-04 14:47:00,0,57,0,0,0,0,Jatirejo
...,...,...,...,...,...,...,...,...
1415,2023-12-27 00:00:00,0,39,0,0,0,0,Jatirejo
1416,2023-12-28 00:00:00,0,0,33,0,0,0,Pasar Kendal
1417,2023-12-28 00:00:00,0,54,0,0,0,0,Jatirejo
1418,2023-12-30 00:00:00,0,91,36,0,205,0,Pasar Kendal
1419,2023-12-30 00:00:00,0,59,0,0,0,0,Jatirejo

In [6]:
df_harian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420 entries, 0 to 1419
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tanggal            1420 non-null   datetime64[ns]
 1   Sampah Daun        1420 non-null   int64
 2   Sampah Sayuran     1420 non-null   int64
 3   Sampah Anorganik   1420 non-null   int64
 4   Daun Terolah       1420 non-null   int64
 5   Sampah Fermentasi  1420 non-null   int64
 6   Kompos Jadi        1420 non-null   int64
 7   Lokasi             1420 non-null   object
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 88.9+ KB

In [7]:
df_harian.describe().T

,count,mean,min,25%,50%,75%,max,std
Tanggal,1420,2023-05-06 22:31:54.464788480,2022-02-15 12:48:00,2023-02-23 12:57:00,2023-04-19 12:46:00,2023-06-27 13:20:45,2023-12-30 00:00:00,NaN
Sampah Daun,1420.0,48.421831,0.0,0.0,0.0,0.0,650.0,96.884623
Sampah Sayuran,1420.0,41.766901,0.0,0.0,30.0,73.0,246.0,48.264539
Sampah Anorganik,1420.0,13.783099,0.0,0.0,0.0,30.0,54.0,15.491597
Daun Terolah,1420.0,22.162676,0.0,0.0,0.0,0.0,379.0,46.202205
Sampah Fermentasi,1420.0,60.592958,0.0,0.0,0.0,70.0,784.0,120.709375
Kompos Jadi,1420.0,15.133803,0.0,0.0,0.0,0.0,625.0,67.514906